@use '../abstracts/theme' as *;

input:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff00 inset !important;
  box-shadow: 0 0 0 30px #ffffff00 inset !important;
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

input:autofill,
input:autofill::first-line,
input:-webkit-autofill::first-line,
textarea:autofill,
textarea:autofill::first-line,
textarea:-webkit-autofill::first-line {
  font-weight: 400 !important;
  color: var(--saw-black) !important;
}

:is(input, textarea, select)::placeholder {
  color: var(--saw-neutral-400);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  resize: none !important;
}

input,
textarea,
.mdc-select__selected-text,
textarea.mat-mdc-input-element,
.custom-textarea {
  text-overflow: ellipsis !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  color: var(--saw-black) !important;
  vertical-align: middle !important;
}

input[type='color'] {
  border: 0.0625rem solid var(--saw-neutral-100);
  outline: none;
  box-shadow: none;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  overflow: hidden;

  &::-moz-color-swatch,
  &::-webkit-color-swatch-wrapper,
  &::-webkit-color-swatch {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.mat-mdc-form-field {
  &.mat-mdc-form-field-type-mat-input {
    .mat-mdc-form-field-infix {
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
      min-height: auto !important;
    }
  }
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 0.5rem;
  padding: 0 1rem !important;
}

.mat-mdc-form-field-subscript-wrapper {
  padding: 0 !important;
}

.mat-mdc-form-field-wrapper {
  margin: 0 !important;
}

.mdc-text-field--outlined {
  .mdc-notched-outline__leading,
  .mdc-notched-outline__trailing {
    border-color: var(--saw-neutral-200) !important;
    border-width: 0.09375rem !important;
  }

  &:not(.mdc-text-field--disabled) {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__trailing {
      border-color: var(--saw-neutral-200) !important;
    }
  }

  &.mdc-text-field--focused {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__trailing {
      border-color: var(--saw-primary-color) !important;
      border-width: 0.0875rem !important;
    }
  }

  &.mdc-text-field--invalid {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__trailing {
      border-color: var(--saw-error) !important;
    }
  }
}

.mat-mdc-select {
  display: flex !important;
}

.mat-mdc-select-panel {
  overflow: hidden;
}

.mat-mdc-option {
  font-size: 0.75rem !important;

  .mdc-list-item__primary-text {
    font-weight: 400;
    display: flex !important;
    gap: 0.375rem;
    align-items: center;
  }
}

.input-style1-white-bg {
  .mat-mdc-form-field {
    .mdc-text-field {
      background-color: var(--saw-white);
      border-radius: 0.3rem;
      padding: 0 1.125rem;
    }

    &.mat-mdc-form-field-disabled {
      .mdc-text-field {
        background: var(--saw-neutral-50);

        .mat-mdc-input-element,
        .mdc-select__selected-text {
          color: var(--saw-neutral-400) !important;
        }
      }
    }
  }
}

.input-style1 {
  .mat-mdc-form-field {
    .mdc-text-field {
      background: var(--saw-white);
      border-radius: 0.5rem;
    }

    &.mat-mdc-form-field-disabled {
      .mdc-text-field {
        border-radius: 0.75rem;

        .mat-mdc-input-element,
        .mdc-select__selected-text {
          color: var(--saw-neutral-400) !important;
        }
      }
    }
  }
}

.input-sm {
  .mat-mdc-form-field {
    .mdc-text-field {
      height: 2rem !important;
    }

    .mat-mdc-input-element,
    .mdc-select__selected-text {
      font-size: 0.75rem !important;
    }
  }
}

.input-md {
  .mat-mdc-form-field {
    .mdc-text-field {
      height: 2.5rem !important;
    }
  }
}

.input-lg {
  .mat-mdc-form-field {
    .mdc-text-field {
      height: 3rem !important;
    }
  }
}

.input-style-group {
  display: flex;
  align-items: center;

  .mat-mdc-form-field:first-child {
    .mdc-text-field {
      border-radius: 0.25rem 0 0 0.25rem;
    }
  }

  .mat-mdc-form-field:last-child {
    .mdc-text-field {
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }
}

.input-no-error {
  .mat-mdc-form-field-wrapper {
    padding-bottom: 0rem;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
    margin-top: 0rem !important;
  }
}
