@use '@angular/material' as mat;
@use '../abstracts/colors' as *;

// Import core Material styles
@include mat.core();

/****************************** Default Palette *****************************/

$Saw-default-theme-primary: mat.m2-define-palette(
  $mat-saw-default-theme-primary-map,
  500
);
$Saw-default-theme-accent: mat.m2-define-palette(
  $mat-saw-default-theme-accent-map,
  500
);
$Saw-default-theme-warn: mat.m2-define-palette(
  $mat-saw-default-theme-warn-map,
  500
);

/****************************************************************************/

/****************************** Webapp Palette ******************************/

$Saw-theme1-primary: mat.m2-define-palette($mat-saw-theme1-primary-map, 500);
$Saw-theme1-accent: mat.m2-define-palette($mat-saw-theme1-accent-map, 500);
$Saw-warn: mat.m2-define-palette($mat-saw-warn-map, 500);

/****************************************************************************/

$Saw-typography: mat.m2-define-typography-config(
  $font-family: 'Poppins, sans-serif',
);

/********************************** Default *********************************/

$Saw-default-theme-light: mat.m2-define-light-theme((
  color: (
    primary: $Saw-default-theme-primary,
    accent: $Saw-default-theme-accent,
    warn: $Saw-default-theme-warn,
  ),
  typography: $Saw-typography,
  density: 0,
));

$Saw-default-theme-dark: mat.m2-define-dark-theme((
  color: (
    primary: $Saw-default-theme-primary,
    accent: $Saw-default-theme-accent,
    warn: $Saw-default-theme-warn,
  ),
  typography: $Saw-typography,
  density: 0,
));

/****************************************************************************/

/********************************** Webapp **********************************/

$Saw-theme1-light: mat.m2-define-light-theme((
  color: (
    primary: $Saw-theme1-primary,
    accent: $Saw-theme1-accent,
    warn: $Saw-warn,
  ),
  typography: $Saw-typography,
  density: 0,
));

$Saw-theme1-dark: mat.m2-define-dark-theme((
  color: (
    primary: $Saw-theme1-primary,
    accent: $Saw-theme1-accent,
    warn: $Saw-warn,
  ),
  typography: $Saw-typography,
  density: 0,
));

/****************************************************************************/

/* This will disable the style duplication warning */
mat.$theme-ignore-duplication-warnings: true;
/***************************************************/

/********************************** Default *********************************/

.saw-default-theme {
  @include mat.all-component-themes($Saw-default-theme-light);
  
  &.dark {
    @include mat.all-component-themes($Saw-default-theme-dark);
  }
}

/****************************************************************************/

/********************************** Webapp **********************************/

.theme1 {
  @include mat.all-component-themes($Saw-theme1-light);
  
  &.dark {
    @include mat.all-component-themes($Saw-theme1-dark);
  }
}
